:root {
    --text-color: #738942;
    --link-color: #6B6943;
    --background-color: #F7EFDA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../Fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'MagicRetro';
    src: url('../Fonts/MagicRetro.ttf');
}

body {
    font-family: 'Monserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

#home {
    background-image: url(../Images/HomeBG.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 768px) {
    #home {
        background-image: url(../Images/MobileHeroBG.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 223px;
    }
}

.skill-icon {
  font-size: 24px;
}

.project-picture {
    border-radius: 20px;
}

.view-more-btn {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 12px;
    border-radius: 100px;
}

.title-project {
    font-size: 20px;
    line-height: 24px;
}

@media (min-width: 768px) {
    .skill-icon {
        font-size: 32px;
    }

    .project-picture {
        border-radius: 20px;
    }

    /* md:text-[16px] md:rounded-[40px] md:px-5 md:py-2 */
    .view-more-btn {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: 16px;
        border-radius: px;
    }

    .title-project {
        font-size: 24px;
        line-height: 32px;
    }
}




