:root {
    --text-color: #738942;
    --link-color: #6B6943;
    --background-color: #F7EFDA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Monserrat';
    src: url('../Fonts/Montserrat.ttf');
}

@font-face {
    font-family: 'MagicRetro';
    src: url('../Fonts/MagicRetro.ttf');
}

body {
    font-family: 'Monserrat', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

html {
  scroll-behavior: smooth;
}

#home {
    background-image: url(../Images/HomeBG.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

@media (max-width: 768px) {
    #home {
        background-image: url(../Images/MobileHeroBG.svg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 223px;
    }
}

.skill-icon {
  font-size: 24px;
}

@media (min-width: 768px) {
  .skill-icon {
    font-size: 32px;
  }
}

